img{
    height: 300px;
    width: 200px;
    border: 10px rgb(255, 55, 0);
    margin: 0% 20%;
    position: absolute;

}

h1{
      color: brown;
      text-align: center;
}

li{
    color: rgb(12, 139, 40);
}